/* ///////////////////////////////////////////////////about styling  */
.landingpage-about {
  display: flex;
  margin: 2em;
  background-color: #fafbfc;
  padding: 2em;
}
.landingpage-about-img {
  flex: 40%;
}
.landingpage-about-img img {
  width: 100%;
}
.landingpage-about-text {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3em;
  text-align: center;
  margin-top: 5em;
}
.landingpage-about-text h3 {
  font-weight: bold;
  color: rgb(240, 165, 0);
}
.landingpage-about-text p {
  padding: 1em 3em;
}
